# Backend settings
BACKEND_PORT=4000
JIRA_BASE_URL=https://vino9k.atlassian.net
JIRA_EMAIL=vino9k@gmail.com
JIRA_API_TOKEN=JIRA_API_TOKEN=ATATT3xFfGF0ZHeB3K8OLFKqUe7QLCY4hKekMVK8OSwb7aTFImiXz6v2lZdOekYluoO2cFERvxNYZBuc5US6J5xYolkX-c8zuUJJMe6zN7KCOltqbzvOQ-DNqMVceIxZ8zNAZTohlQwWjsKCFua70BFS7oggqzbjEb2Feu2CuKJYYwB_BPAq04M=7E926E62

# Story points field (optional)
JIRA_STORY_POINTS_FIELD=customfield_10016

# Label prefixes (labels like channel-aa, team-alpha, train-a)
JIRA_CHANNEL_LABEL_PREFIX=channel-
JIRA_TEAM_LABEL_PREFIX=team-
JIRA_TRAIN_LABEL_PREFIX=train-

# Frontend default project key
REACT_APP_JIRA_PROJECT_KEY=TM
